<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.rgpv.ac.in/">www.rgpv.ac.in</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://recrewa.ac.in">recrewa.ac.in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        
        <a href="https://www.facebook.com/Training-And-Placement-Cell-Rewa-Engineering-College-101788225138786/?ti=as" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/trainingplacementcell_rec?igshid=8fj8iomsamyy" class="instagram"><i class="bx bxl-instagram"></i></a>
        
        <a href=" https://www.linkedin.com/in/training-and-placement-cell-rewa-engineering-college-57616719a" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->